body {
    font-family: Arial;
    background: #9fbae2;
    margin: 0;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #1a73e8, #4facfe);
    padding: 15px 30px;
    color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.nav-left {
    font-size: 20px;
    font-weight: bold;
}

.nav-right a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

/* Hover effect */
.nav-right a:hover {
    background: rgba(255,255,255,0.2);
}

/* Active page */
.nav-right a.active {
    background: white;
    color: #1a73e8;
    font-weight: bold;
}

/* ================= CONTAINER ================= */
.container {
    padding: 20px;
}

/* ================= CARDS ================= */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

/* ================= STATS ================= */
.stats {
    display: flex;
    gap: 20px;
}

.stat-box {
    flex: 1;
    background: linear-gradient(135deg, #1a73e8, #4facfe);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.stat-box:hover {
    transform: translateY(-5px);
}

.stat-box p {
    font-size: 26px;
    font-weight: bold;
}

/* ================= SECTION TITLE ================= */
.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1a73e8;
    margin-bottom: 10px;
}

/* ================= TABLE ================= */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: white;
}

/* COLUMN WIDTHS */
th:nth-child(1), td:nth-child(1) { width: 20%; }
th:nth-child(2), td:nth-child(2) { width: 20%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 20%; }
th:nth-child(5), td:nth-child(5) { width: 30%; }

/* HEADER */
th {
    background: linear-gradient(135deg, #1a73e8, #4facfe);
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 14px;
}

/* DATA */
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word;
}

/* ROW HOVER */
tr:hover {
    background: #f1f7ff;
}

/* ================= STATUS COLORS ================= */
.safe {
    color: green;
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold;
}

/* ALERT ROW */
.danger {
    background: #ffe5e5;
    color: red;
}
#attackChart {
    max-height: 250px;
}