<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts - Honeypot System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <div class="nav-left">Honeypot System</div>

    <div class="nav-right">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}"> Dashboard</a>
        <a href="/logs" class="{% if request.path == '/logs' %}active{% endif %}"> Logs</a>
        <a href="/alerts" class="{% if request.path == '/alerts' %}active{% endif %}"> Alerts</a>
    </div>
</div>

<div class="container">

    <!-- TITLE + COUNT -->
    <div class="card alert-header">
        <h2> Suspicious Alerts</h2>
        <p>Showing attacks with 3+ attempts</p>

        <div class="alert-count">
             {{ alerts|length }} High-Risk Alerts
        </div>
    </div>

    <!-- ALERT TABLE -->
    <div class="card">
        <h3 class="section-title"> High Risk Activity</h3>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>IP Address</th>
                        <th>Attempts</th>
                        <th>Attack Type</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>

                    {% for log in alerts %}
                    <tr class="danger">
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.ip }}</td>
                        <td><strong>{{ log.attempts }}</strong></td>
                        <td class="warning">{{ log.type }}</td>
                        <td>{{ log.location }}</td>
                    </tr>
                    {% endfor %}

                    {% if alerts|length == 0 %}
                    <tr>
                        <td colspan="5">No suspicious activity detected ✅</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>